$culoarePrincipala: violet;
$culoareSecundara: green;
$culoareRosie: red;
$culoareblue: blue;
$culoareYelow: yellow;
$culoareWhite: white;
$culoareBlack: black;

$marimeMica: 15px;
$borderSize: 2px;
$borderStyle: $borderSize * 2 solid $culoareRosie;