@import 'colours';

%fourColumnGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

%centerItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

%onlyBG {
    background-color: $culoareYelow;
}

%borderAndBg{
    @extend %onlyBG;
    border: $marimeMica dotted $culoarePrincipala;
}