@import 'colours';
@import 'shared';
@import 'mixins';
@import 'reset';
@import 'marimi';

nav {
    background-color: $culoareBlack;

    ul {
        display: flex;
        list-style: none;
        align-items: center;

        .list-item {
            color: $culoareWhite;
            background-color: $culoareblue;
            cursor: pointer;
            padding: 15px;
            transition-property: background-color;
            transition-duration: 0.5s;
            transition-timing-function: ease-in;

            a {
                transition-property: color, font-weight;
                transition-duration: 0.5s;
                font-size: $fontSizeMedium;
                color: $culoareWhite;
                text-decoration: none;
            }

            &.always-show {
                display: block;
            }

            &:hover {
                background-color: $culoareSecundara;

                a {
                    color: $culoareBlack;
                    font-weight: bold;
                    /* visibility: visible; */
                }
            }
        }
    }

    .hamburgher {
        display: none;

        span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            background: $culoareWhite;
            border-radius: 3px;
        }
    }
}

@media screen and (390px < width < 790px) {
    .hamburgher {
        display: block;
    }

    .list-item {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }
}


// ul {
//     list-style: none;

//     li {
//         // @extend %centerItem;

//         background-color: $culoarePrincipala;
//         margin: $marimeMica;
//         border: $borderStyle;

//         // &:hover{
//         //     @extend %borderAndBg;
//         // }

//         @include customHoverState($culoareSecundara, $culoareYelow);

//         &.list-item{
//             padding: 10px;
//         }
//     }
// }

// .box{
//     // @extend %fourColumnGrid;

//     @include customHoverState($culoarePrincipala, $culoareSecundara);
//     @include generateGrid(3, 2);

//     .red{
//         background-color: $culoarePrincipala;
//     }

//     .green{
//         background-color: $culoareSecundara;
//     }

//     .yelow{
//         background-color: yellow;
//     }

//     .magenta{
//         background-color: magenta;
//     }

//     .inner-box {
//         @extend %fourColumnGrid;
//     }
// }

// ul li{
//     margin: 5px;
// }

// ul li:hover{
//     background-color: green;
// }

// ul li.list-item{
//     padding: 10px;
//     background-color: red;
// }