h1{
    color: blue !important;
}

/* div {
    color: magenta;
    font-size: 15px;
    font-weight: bold;
}

span{
    color: red;
}

li {
    font-size: 20px;
    color: blue;
    font-style: italic;
} */
/* 
div{
    color: magenta;
    font-size: 12px;
}

article{
    color: blue;
} */

/* article{
    color: brown;
    font-size: 25px;
} */

/* .small-text{
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
}

.article-pere{
    color: green;
}

.article-mere{
    color: brown;
    font-size: 25px;
} */


/* #small-text{
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
}

#article-pere{
    color: green;
}

#article-mere{
    color: brown;
    font-size: 25px;
} */

/* * {
    color: brown;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
} */
